<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h5>Listagem de livros!</h5>
       
        <table>
            <tr>
                <th>Company</th>
            </tr>
            <tr for(livro in data.livros)>
                <td>${livro.id}</td>
                <td>${livro.titulo}</td>
            </tr>
        </table>
    </body>
</html>